<header>
	
	<div class="container">
		<%= image_tag("http://placehold.it/320x150", :class => "show-img") %>
		
		<div class="linha">
			<p>Criado por: Usuario01</p>
			<p class="direita">
				<span class="glyphicon glyphicon-ok"></span>
				45
			</p>
		</div>
		<h1 class="centralizado">Nome do Evento</h1>
	</div>
	
</header>

<div class="container show">
	<p>Data: 01/01/2017</p>
	<p>Hora: 22:00 </p>
	<p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>
	<p>Local: </p>

	<div id="map"></div>
	<hr>
	<div class="comentarios">
		<h2>Comentários:</h2>
		<p>Usuario01: Evento legal!</p>
		<input type="text" class="comentar input-group" placeholder="Search">
		<button type="submit" class="btn btn-default">Enviar</button>
	</div>

</div>

