<span id="euvou">
	<% if current_user.attending?(event) %>
		<%= link_to eu_vou_path(attended_event_id: event.id), method: :delete do %>
			<i class="fa fa-child fa-2x icons"></i>Não Vou <%= event.attendees.count %>
        <% end %>	 
	<% else %>
		<%= link_to eu_vous_path(:eu_vou => { attended_event_id: event.id }), method: :post do %>
			<i class="fa fa-child fa-2x icons"></i>Eu vou <%= event.attendees.count %>
	    <% end %>	
	<% end %>
</span>