<div class="col-sm-4 col-lg-4 col-md-4 card-index">
  <div class="thumbnail">
    <a href="#"><img src="http://larissacrivellarieventos.com/layout/uploads/images/musica.jpg" alt="imagem do evento" class="img-index"></a>
    <div class="caption info">
      <h5 class="pull-right"> 
        <span class="glyphicon glyphicon-ok"></span>
          45
      </h5>
      <h4><a href="#">Event's name</a></h4>
      <div class="thumbnail calendario-card">
        <p class="mes centralizado">Junho</p>
        <p class="dia centralizado">07</p>
      </div>
      <div class="conteudo-card">
        <p><span class="bold">Local: </span>Rua das Flores, 123</p>
        <p><span class="bold">Hora:  </span>22:00</p>
      </div>
    </div>
  </div>
</div>