<div class="container">
	<h2 class="centralizado">Crie um evento</h2>

	<form action="new_event_path" method="post">
		
		<div class="form-group">
			Título:<br>
		  <input type="text" name="title"><br>
		</div>

		<div class="form-group">
			Data:<br>
		  <input type="date" name="data"><br>
		</div>

		<div class="form-group">
			Hora:<br>
		  <input type="time" name="time"><br>
		</div>

		<div class="form-group">
			Categoria:<br>
		 	<select name="cars">
		    <option value="artes">Artes</option>
		    <option value="comidas">Comidas e Bebidas</option>
		    <option value="cursos">Cursos</option>
		    <option value="festas">Festas</option>
		    <option value="networking">Networking</option>
		    <option value="esporte">Esporte e Bem-Estar</option>
		    <option value="musica">Música</option>
		    <option value="compras">Compras</option>
		  </select>
		</div>

		<div class="form-group">
			Descrição:<br>
		  <textarea name="description" rows="4"></textarea><br>
		</div>

		<div class="form-group">
			Local:<br>
		  <input type="text" name="local"><br>
		</div>

		<div class="form-group">
			Imagem:<br>
		  <input type="file" name="image" multiple><br>
		</div>

		<input type="submit" value="Criar evento">
	</form>
</div>
