<div class="login-cadastro">
  <div class="wrapper">
    <form class="login">
      <p class="title">Cadastrar-se</p>
      <input type="text" placeholder="Nome" autofocus/>
      <i class="fa fa-user"></i>
      <input type="text" placeholder="E-mail" autofocus/>
      <i class="fa fa-user"></i>
      <input type="password" placeholder="Senha" />
      <i class="fa fa-key"></i>
      <input type="password" placeholder="Confirmar Senha" />
      <button>
        <i class="spinner"></i>
        <span class="state">Cadastrar!</span>
      </button>
    </form>
    <footer><a target="blank" href="http://localhost:3000">euvouweb.com</a></footer>
    </p>
  </div>
</div>