<div class="login-user">
  <div class="wrapper">
    <form class="login">
      <p class="title">Log in</p>
      <input type="text" placeholder="E-mail" autofocus/>
      <i class="fa fa-user"></i>
      <input type="password" placeholder="Senha" />
      <i class="fa fa-key"></i>
      <a href="#">Forgot your password?</a>
      <button>
        <i class="spinner"></i>
        <span class="state">Log in</span>
      </button>
    </form>
    <footer><a target="blank" href="http://localhost:3000">euvouweb.com</a></footer>
    </p>
  </div>
</div>