/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*.pesquisa{
  width: 100%;
}*/
body{
  background-color: #EFEFF2; 
}

.gray{
  background-color: #EFEFF2; 
}


ul#navbar-link-list.nav.navbar-nav li a{
  height: 55px;
}

.white{
  background-color: white;
  border-color: white;
}

.bold{
 font-weight: bold; 
}

button.btn.btn-default.navbar-btn.btn-event:hover,
button.btn.btn-default.navbar-btn.btn-event:focus{
  background-color: white;
  color: #57C3D9;
  border-color: #57C3D9;
}

.btn-event{
  background-color: #57C3D9;
  color: white;
  font-weight: bold;
  border-color: white;
}

.btn-event > li > button:hover{
  background-color: white;
  color: #57C3D9;
}

.navbar-default{
  background-color: white;
}

ul.nav.navbar-nav {
  width: 40%;
}

form#nav-form.navbar-form.navbar-right{
  width: 100%;
  margin: 0;
}

div.form-group.pesquisa{
  width: 70%;
}

input.form-control.pesquisa{
  width: 100%; 
}

.container{
  width: 75%;
}

.logo-nav{
  padding-left: 10px;
  margin-top: 2px;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(24,24,24);
    font-size: 17px;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(0,0,255,0.1);
}

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.size{
    width: 70%
}

.central{
    margin-left: 40%;
    display: inline-block;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #9d9d9d;
}
.central:focus, 
.central:hover {
  text-decoration: none;
  color: #fff;
}

.centralizado{
    text-align: center;
}

.space{
    margin: 20px 0;
}


.img-relative{
   position: relative;
}

.img-center {
    margin: 0 auto;
    height: 400px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 20px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
}

#navbar-search {
  margin-left: 30%; 
  /* border: 1px solid red; */
  width: 100%;

}

#navbar-link-list{
  margin-left: 2%;
}

.content{
  width: 75%;
}