.show-img{
	height: 500px !important;
	width: 100%;
}

.card-show{
	padding: 20px;
	margin-top: 20px;
}

.linha p{
	display: inline-block;
	margin-top: 0;
	padding-top: 0;
}

.descricao{
	text-indent: 50px;
	text-align: justify;
	font-weight: normal;
}

h1.centralizado{
	margin: 30px;
}

button.btn.btn-default.direita{
	margin-top: 0;
}

div.container.show{
	width: 70%;
	font-size: 18px;
}

#map{
	height: 300px;
}

.comentarios h2{
	margin: 20px 0;
}
.comments{
	margin: 20px 20px;
	display: block;
}

.comentar{
	margin: 20px 0;
}

.comentarios{
	margin-bottom: 60px;
}