<div class="row">
  <% @categories.each do |category| %>
    <div class="col s12 m4 category">
      <div class="card-panel teal">
            <span class="white-text">
              <%= link_to category.name, "/events/category/" + category.id.to_s %>
                <div class="chip">
                  <%= category.events.count %>
                </div>
            </span>
      </div>
    </div>
  <% end %>
</div>


